@import url('font-awesome.min.css');
*{margin:0;padding:0;list-style:none;}

@font-face{
	font-family:'sspb';
	src:url('../fonts/sspb.ttf');
}
html{
	width:100%;
	height:100%;
}
body{
	position:relative;
	width:100%;
	height:100%;
}
#btm{
	width:100%;
	height:100%;
	background-image:url('../images/baixian.svg'),url('../images/touming.png');
	background-size:cover, auto;
	background-position:center center,top left;
	background-repeat:no-repeat, repeat;
	position:fixed;
	background-attachment: fixed;
	animation:fadein 1.5s 1.2s forwards;
	opacity:0;
}

#header{
	width:99%;
	height:30%;
	position:absolute;
	top:33%;
	cursor: default;
	opacity:0;
	animation: float 1.5s 2.2s forwards;
}
@keyframes float{0%{transform:translate3d(0,1em,0);opacity:0;} 100%{transform:translate3d(0,0,0);opacity:1;}}
@-moz-keyframes float{0%{transform:translate3d(0,1em,0);opacity:0;} 100%{transform:translate3d(0,0,0);opacity:1;}}
@-webkit-keyframes float{0%{transform:translate3d(0,1em,0);opacity:0;} 100%{transform:translate3d(0,0,0);opacity:1;}}
@-o-keyframes float{0%{transform:translate3d(0,1em,0);opacity:0;} 100%{transform:translate3d(0,0,0);opacity:1;}}
h1{
	width:800px;
	margin:0 auto;
	font-size:5.5em;
	font-weight:900;
	color:#FFF;
	font-family:'sspb';
	letter-spacing: -0.05em;
	text-align:center;
	opacity:0.85;
}
p{
	width:700px;
	margin:0 auto;
	margin-top:0;
	color:#FFF;
	text-align:center;
	font-family:'sspb';
	font-size:2.25em;
	opacity:0.55;
}

#bg {
	animation: bg 120s linear infinite;
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
	background-color: #348cb2;
	background-image: url("../images/11.jpg");
	background-position: bottom;
	background-repeat: repeat-x;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	bottom: 0;
}
@keyframes bg { 0% {transform: translate3d(0,0,0); } 100% { transform: translate3d(-50%,0,0); } }
@-moz-keyframes bg { 0% {-moz-transform:translate3d(0,0,0); } 100% { -moz-transform: translate3d(-50%,0,0); } }
@-webkit-keyframes bg { 0% {-webkit-transform: translate3d(0,0,0); } 100% { -webkit-transform: translate3d(-50%,0,0); } }
@-o-keyframes bg { 0% {-o-transform: translate3d(0,0,0); } 100% { -o-transform: translate3d(-50%,0,0); } }

#bg {
	background-size: 50% 100%;
	width: 400%;
}
#main{
	height:100%;
	width:100%;
	opacity:0;
	animation: fadein 2s linear forwards;
}
@keyframes fadein {0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fadein {0%{opacity:0;} 100%{opacity:1;}}
@-webkit-keyframes fadein {0%{opacity:0;} 100%{opacity:1;}}
@-o-keyframes fadein {0%{opacity:0;} 100%{opacity:1;}}

ul{
	width:29em;
	height:40%;
	bottom:0;
	text-align:center;
	margin:0 auto;
}
li{
	float:left;
	font-size:2em;
	opacity:0;
	backface-visibility: hidden;
	margin-left:0;
	margin-right:0;
}
li:nth-child(1){
	animation:float 1s ease-in-out 3s forwards;
}
li:nth-child(2){
	animation:float 1s ease-in-out 3.3s forwards;
}
li:nth-child(3){
	animation:float 1s ease-in-out 3.6s forwards;
}
a{
	color:white;
	text-decoration:none;
	outline:0;
	border-radius: 100%;
    border: solid 1px white;
    width:2.5em;
    height:2.5em;
    margin:1.1em;
    background-color:rgba(255,255,255,0.05);
}
a:before{
	display:block;
	line-height:2.5em;
}
a:hover{
	background-color:rgba(255,255,255,0.3);
	/*font-size:1.2em;*/
	transform:scale(1.1);
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition:all 0.15s ease-in-out;
}
#wechat{
	background-color:rgba(255,255,255,0.45);
	width:100%;
	height:100%;
	position:absolute;
	background-image:url('../images/wechat.jpg');
	background-repeat:no-repeat;
	background-position:center;
	display:none;
}