*{margin:0;padding:0;}
html{
	width:100%;
	height:100%;
}
body{
	position:relative;
	width:100%;
	height:100%;
}
#p1{
	width:100%;
	height:100%;
	background-image:url('../images/sky.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}
#btm{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
}
.shadow{
	text-shadow:5px 5px 8px #4A374A;
}
#p2{
	position:absolute;
	left:0;top:0;
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(rgb(4, 20, 46) 0%, rgb(29, 80, 143) 35%, rgb(82, 153, 209) 50%, rgb(29, 80, 143) 100%) repeat scroll 0% 0%;
	text-align: center;
	display: block;
	height:100%;
	width:100%;
	display:none;
}
#q1{
	width:99%;
	height:30%;
	position:absolute;
	top:50%;
}
h1{
	width:400px;
	height:60%;
	margin:0 auto;
	font-size:600%;
	color:#FFF;
	text-align:center;
	font-family:'Arial';
}
h2{
	width:700px;
	margin:0 auto;
	font-size:300%;
	color:#FFF;
	text-align:center;
	font-family:'Arial';
}

@-moz-keyframes arrow {
  0% {padding-top:5px;}
  100% {padding-top:20px;}
}
@-webkit-keyframes arrow {
  0% {padding-top:5px;}
  100% {padding-top:20px;}
}
@-o-keyframes arrow {
  0% {padding-top:5px;}
  100% {padding-top:20px;}
}
@keyframes arrow {
  0% {padding-top:5px;}
  100% {padding-top:20px;}
}
#down {
	position:absolute;
	top:88%;
	left:48%;
	/*text-align: center;*/
	/*height: 150px;*/
	-moz-animation: arrow 1s linear infinite alternate; 
	-webkit-animation: arrow 1s linear infinite alternate;
	-o-animation: arrow 1s linear infinite alternate;
	animation: arrow 1s linear infinite alternate;
}

