*{margin:0;padding:0;}
html{
	width:100%;
	height:100%;
}
body{
	position:relative;
	width:100%;
	height:100%;
}
/*#p1{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url('../images/bbbg.jpg');
	background-color:rgb(0,0,0);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom,left;
}*/
#btm{
	width:100%;
	height:100%;
	background-image:url('../images/baixian.svg'),url('../images/touming.png');
	background-size:cover, auto;
	background-position:center center,top left;
	background-repeat:no-repeat, repeat;
	position:absolute;
	background-attachment: fixed;
}
.shadow{
	text-shadow:5px 5px 8px #4A374A;
}
#p2{
	position:absolute;
	left:0;top:0;
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(#c3cfe2 0%, #cfd9df 100%) repeat scroll 0% 0%;
	text-align: center;
	display: block;
	height:100%;
	width:100%;
	display:none;
}
#q1{
	width:99%;
	height:30%;
	position:absolute;
	top:50%;
}
h1{
	width:400px;
	height:60%;
	margin:0 auto;
	font-size:600%;
	color:#FFF;
	text-align:center;
	font-family:'Arial';
}
h2{
	width:700px;
	margin:0 auto;
	font-size:300%;
	color:#FFF;
	text-align:center;
	font-family:'Arial';
}
#p3{
	display:none;
	position:absolute;
	height:99.8%;
	width:99.8%;
}
#p3 #u1{
	position:absolute;
	top:4%;
	height:95%;
	width:5%;
	list-style:none;
}
#p3 #u2{
	position:absolute;
	top:2%;right:3%;
	list-style:none;
	height:95%;
	width:92%;
}
#p3 #u1 .l1{
	float:right;
	height:13%;
	width:95%;
	border:1px solid rgba(0,0,0,0.15);
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	background-color:rgba(0,0,0,0.15);
	text-align:center;
	font-size:200%;
	color:white;
	line-height:230%;
}
#p3 #u2 .l2{
	width:100%;
	height:99.5%;
	display:none;
	position:absolute;
}
#p3 #u2 li div{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.35);
	font-size:2200%;
	border-radius:10px;
}
#p3 #u2 #fir{
	display:block;
}
#p3 #u1 #firl{
	background-color:rgba(0,0,0,0.35);
	border:3px groove rgba(0,0,0,0.35);
	border-right-width:0px;
}

@-moz-keyframes arrow {
  0% {padding-top:5px;}
  100% {padding-top:20px;}
}
@-webkit-keyframes arrow {
  0% {padding-top:5px;}
  100% {padding-top:20px;}
}
@-o-keyframes arrow {
  0% {padding-top:5px;}
  100% {padding-top:20px;}
}
@keyframes arrow {
  0% {padding-top:5px;}
  100% {padding-top:20px;}
}
#down {
	position:absolute;
	top:88%;
	left:48%;
	/*text-align: center;*/
	/*height: 150px;*/
	-moz-animation: arrow 1s linear infinite alternate; 
	-webkit-animation: arrow 1s linear infinite alternate;
	-o-animation: arrow 1s linear infinite alternate;
	animation: arrow 1s linear infinite alternate;
	/*animation-fill-mode:forwards;*/
}
#p3 #u2 .l2 p{
	width:10%;
	height:10%;
	background-color:antiquewhite;
	transition-delay:150ms;
	transition-duration:1000ms;
	transition-timing-function:ease-out;
}
#p3 #u2 .l2 p:hover{
	width:50%;
	height:50%;
	background-color:#ffad2a;
}

#bg {
	animation: bg 110s linear infinite;
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
	background-color: #348cb2;
	background-image: url("../images/11.jpg");
	background-position: bottom;
	background-repeat: repeat-x;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	bottom: 0;
}
@keyframes bg { 0% {transform: translate3d(0,0,0); } 100% { transform: translate3d(-50%,0,0); } }

#bg {
	background-size: 50% 100%;
	width: 400%;
}